html, body{
    width: 100%;
    height: 100%;
    background-color: #343a40;
}

#top-navbar{
    width: 100%;
    height: 5%;
}

.black{
    background-color: #343a40;
}

.white{
    background-color: whitesmoke;
}

.red{
    background-color: red;
}

#content-div{
    /* margin-top: 20px;
    margin-bottom: 20px;
    height: calc(95% - 40px); */
    width: 1280px;
    height: 720px;
    background-image: url(../img/fundo_diferente.gif);
    background-size: 1600px 818px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: auto;
}

#content-row{
    height: 100%;
}

#menubar{
    height: 100%;
}

#process-img-row{
    height: 100px;
}

#lift-img-div{
    position: absolute;
    top: 355px;
    left: 55px;
}

#lift-img-div label{
    position: absolute;
    text-transform: uppercase;
    bottom: 15px;
    left: 60px;
    margin: 3px;
    font-size:4px;
}

#lift-img{
    height: 85px;
    width: 85px;
}

#startButton{
    position: fixed;
    left: 30px;
    top: 38px;
    width: 1300px;
    z-index: 99999999;
    cursor: pointer;
}

.process-img-div{
    z-index: 10;
    margin: 5px;
    position: absolute;
    left: 10%;
}

.process-img-div label{
    position: absolute;
    margin-left: 10px;
    text-transform: uppercase;
}

.process-img{
    width: 50px;
    height: 50px;
}

.stock-img, .cpu-img{
    max-height: 250px;
    z-index: 20;
    width: 300px;
    position: absolute;
    bottom: -440px;
}
.stock-img{
    margin-top: 100px;
}

.stock-div label{
    position: absolute;
    text-transform: uppercase;
    color: blue;
    left: 80px;
    width: 250px;
    font-size: 16px;
    bottom: -490px;
    z-index: 9;
}

.cpu-div label{
    position: absolute;
    text-transform: uppercase;
    color: blue;
    right: 120px;
    font-size: 16px;
    bottom: -490px;
    z-index: 9;
}

.row-margin{
    margin-bottom: 20px;
}